@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode-Regular.ttf');
  src: url('fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  background: black;
  background-image: url("https://cdn.wallpapersafari.com/95/85/sfZELG.gif");
  background-repeat: repeat;
  background-size: 300px 300px;
  color: white;
}

table.box {
  border: 1px solid blue;
  margin-top: 1em;
  margin-bottom: 1em;
  border-spacing: 2px;
  border-collapse: separate;
  background: black;
  width: 90%;
}

table.box tr,tbody,td {
  border: 1px solid navy;
}

main {
  margin: 0 auto
}

body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

#frog {
  transition: all 0.5s ease;
  width: 150px; 
  height: auto; 
  position: fixed; 
  bottom: 5px; 
  left: 10px;
  opacity: 1;
}

#frog:hover {
  opacity: 0.35
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee div {
  /* position: absolute; */
  display: block;
  overflow: hidden;
  /* Starting position */
  -moz-transform    : translateX(100%);
  -webkit-transform : translateX(100%);
  transform         : translateX(100%);
  /* Apply animation to this element */	
  -moz-animation    : marquee 15s infinite steps(90);
  -webkit-animation : marquee 15s infinite steps(90);
  animation         : marquee 15s infinite steps(90);
}

@-moz-keyframes marquee {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
  0% { 
    -moz-transform    : translateX(100%); /* Firefox bug fix */
    -webkit-transform : translateX(100%); /* Firefox bug fix */
    transform         : translateX(100%);
  }
  100% { 
    -moz-transform    : translateX(-100%); /* Firefox bug fix */
    -webkit-transform : translateX(-100%); /* Firefox bug fix */
    transform         : translateX(-100%);
  }
}

.links {
  padding: 0.5em;
  display: flex;
}

.links a {
  color: white;
}

.links a:not(:first-child) {
  margin-left: 1.25ch;
}

#enter-card {
  background: black;
  color: white;
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
}

.true-center {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signBunny {
  font-size: 24px;
  font-family: 'Fira Code', 'Nanum Gothic Coding', monospace;
}

.signBunny {
  background: rgba(0,0,0,0.7);
  border: 1px solid blue;
  padding: 0.5em;
}

.grid {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media only screen and (max-width: 700px) {
  .grid { 
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.x-2 { grid-template-columns: repeat(2, 1fr); } 
.x-3 { grid-template-columns: repeat(3, 1fr); } 
.x-4 { grid-template-columns: repeat(4, 1fr); } 
.x-5 { grid-template-columns: repeat(5, 1fr); } 
.x-6 { grid-template-columns: repeat(6, 1fr); } 
.x-7 { grid-template-columns: repeat(7, 1fr); } 
.x-8 { grid-template-columns: repeat(8, 1fr); } 
.x-9 { grid-template-columns: repeat(9, 1fr); } 
.x-10 { grid-template-columns: repeat(10, 1fr); } 

textarea {
  font-size: 16px;
  color: white;
  border: 1px solid blue;
  background: rgba(0,0,0,0.7);
  padding: 0.5em;
  box-sizing: border-box
}

button {
  font-size: 16px;
  color: white;
  border: 1px solid blue;
  background: rgba(0,0,0,0.7);
  padding: 0.5em;
  box-sizing: border-box
}

button:hover { background: rgba(0,20,100,0.7); }
button:active { background: rgba(0,10,50,0.7); }

#signText {
  min-height: 100%;
  min-width: 100%;
}

input[type="range"] {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
